<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
<h2>Bot name: verlapun_bot</h2>
<h2>Rest api:</h2>
<br><a href="https://telegrambotv1-311221.ey.r.appspot.com/users">https://telegrambotv1-311221.ey.r.appspot.com/users  - returns all users</a>
<br><a href="https://telegrambotv1-311221.ey.r.appspot.com/users/-1056054882961287306">https://telegrambotv1-311221.ey.r.appspot.com/users/-1056054882961287306 - returns details of concrete User

<br><a href="https://telegrambotv1-311221.ey.r.appspot.com/getmessages">https://telegrambotv1-311221.ey.r.appspot.com/getmessages  - returns all messages
<br><a href="https://telegrambotv1-311221.ey.r.appspot.com/getmessages?startDate=2021-04-03 00:00:00&endDate=2021-04-25 10:00:00">https://telegrambotv1-311221.ey.r.appspot.com/getmessages?startDate=2021-04-03 00:00:00&endDate=2021-04-25 10:00:00 - returns all messges from the period
<br><a href="https://telegrambotv1-311221.ey.r.appspot.com/getmessages?startDate=2021-04-12 00:00:00">https://telegrambotv1-311221.ey.r.appspot.com/getmessages?startDate=2021-04-12 00:00:00 - returns all messages from this date
<br><a href="https://telegrambotv1-311221.ey.r.appspot.com/getmessages?endDate=2021-04-25 10:00:00">https://telegrambotv1-311221.ey.r.appspot.com/getmessages?endDate=2021-04-25 10:00:00 - returns all messages before this date


<br><a href="https://telegrambotv1-311221.ey.r.appspot.com/getmessagesforuser?id=-1056054882961287306">https://telegrambotv1-311221.ey.r.appspot.com/getmessagesforuser?id=-1056054882961287306 - returns all messages for the User
<br><a href="https://telegrambotv1-311221.ey.r.appspot.com/getmessagesforuser?id=-1056054882961287306&startDate=2021-04-10 00:00:00">https://telegrambotv1-311221.ey.r.appspot.com/getmessagesforuser?id=-1056054882961287306&startDate=2021-04-10 00:00:00 - returns all messages from this date for the User
<br>and other date's combinations


<br><a href="https://telegrambotv1-311221.ey.r.appspot.com/updateHistoryBetweenDates?id=-1056054882961287306&startDate=2021-04-05 00:00:00&endDate=2021-04-11 00:55:00">https://telegrambotv1-311221.ey.r.appspot.com/updateHistoryBetweenDates?id=-1056054882961287306&startDate=2021-04-05 00:00:00&endDate=2021-04-11 00:55:00 - updates history for user,
 replaces received meassages to "xxx"
 and other date's combinations

<br><a href="https://telegrambotv1-311221.ey.r.appspot.com/deleteUserHistoryBetweenDates?id=-1056054882961287306&startDate=2021-04-12 00:00:00 &endDate=2021-04-13 00:55:00">https://telegrambotv1-311221.ey.r.appspot.com/deleteUserHistoryBetweenDates?id=-1056054882961287306&startDate=2021-04-12 00:00:00 &endDate=2021-04-13 00:55:00 - deletes
</body>
</html>