<?xml version="1.0" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Integration Test Suite">
    <listeners>
        <listener class-name="com.telegram.bot.base.TestListener"/>
    </listeners>

    <test name="Integration tests">
        <classes>
            <class name="com.telegram.bot.integration.GetTest"/>
            <class name="com.telegram.bot.integration.DeleteTest"/>
            <class name="com.telegram.bot.integration.UpdateTest"/>
        </classes>
    </test>
</suite>